extends layout

block content
  head
    title  #{champInfo.name}
    link(rel='stylesheet', href='/stylesheets/champions.css')
    link(rel='stylesheet', href='https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.css')

  div.transparent
    h1  #{champInfo.name}
    h2  #{champInfo.title}
  div.clearfix
  div.transparent
    p#numGames Total Games: 
    p#winrate Winrate: 
  div.clearfix
  div.chart#chart
    svg(style="height: 400px")
  div.transparent.buildsTable
    h3 Full Builds
    table#buildsTable
      thead
        tr
          -for (var i=0; i<6;i++)
            th item #{i+1}
          th Won
      tbody#buildsTableBody
  div.transparent.itemTable
    h3 Item Winrates
    table#itemTable
      thead
        tr
          th Item
          th Name
          th Times Purchased
          th Winrate
      tbody#itemTableBody
  div.transparent.itemInfo#itemInfo
    h3 Name
    h5 Plaintext
    div.price Price
    div Description
   script(type="text/javascript").
    var champ = !{JSON.stringify(champInfo)}; // Pass champion data to champions.js
    var allChamps = !{JSON.stringify(champions)}; // The list of champions for the sake of search
    var allItems = !{JSON.stringify(items)}; // List of all items, their types, cost, and tree build
  script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.2/d3.min.js")
  script(type="text/javascript",src="https://cdn.rawgit.com/novus/nvd3/v1.8.1/build/nv.d3.min.js")
  script(type="text/javascript", src="/javascripts/nanoajax.js")
  script(type="text/javascript",src="/javascripts/index.js") 
  script(type="text/javascript",src="/javascripts/champions.js") 

 