extends layout

block content
  h1= title
  p Welcome to #{title}
      
  div.champContainer
    -var i=0;
    for character in Object.keys(champions.data).sort()
      -i++;
      //- 14 champions on a line
      if i%14==1
        br
      img(src='http://ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/#{champions.data[character].image.full}',
        data-id='#{champions.data[character].id}', 
        rel="prefetch",
        alt='#{champions.data[character].name}',
        id='#{champions.data[character].id}'
        ).champSquare

  script(type="text/javascript",src="/javascripts/index.js")
  script(type="text/javascript",src="/javascripts/homePage.js")

