extends layout

block content
  h1= title
  p Welcome to #{title}
  div.champContainer
    -var i=0;
    for character in champions.data
      -i++;
      //- 14 champions on a line
      if i%14==1
        br
      //- These images are not appearing in alphabetical order. Apparently for...in uses arbitrary ordering
      img(src='http://ddragon.leagueoflegends.com/cdn/5.15.1/img/champion/#{character.image.full}',
        data-id='#{character.id}', 
        rel="prefetch",
        alt='#{character.name}',
        id='#{character.id}'
        ).champSquare
  hr 
  //- Create 2 rows of Bilgewater items underneath the champions
  //- div.itemContainer
  //-   -var j=0;
  //-   for item in items.data
  //-     -j++;
  //-     //- 8 items on a line
  //-     if j%8 ==1
  //-       br
  //-     img(src='http://ddragon.leagueoflegends.com/cdn/5.15.1/img/item/#{item.image.full}',
  //-       data-id='#{item.id}', 
  //-       rel="prefetch",
  //-       alt='#{item.name}',
  //-       id='#{item.id}'
  //-       ).itemSquare
  script(type="text/javascript",src="/javascripts/index.js")
  script(type="text/javascript",src="/javascripts/homePage.js")

